# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/
.env/

# Data files - We will NOT upload data to GitHub
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE configuration files
.idea/
.vscode/
